@tailwind base;
@tailwind components;

:root {
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(233, 233, 233);
  --color-primary: rgb(255, 255, 0);
  --color-secondary: rgb(240, 0, 0);
}

body {
  font-family: 'Caveat', cursive;
  margin: 0;
}


@tailwind utilities;
